h1 {
    font-size: 50px;
    }

a {
    text-decoration: none;
}

.cukricek {
    padding-bottom: 20px; 
    font-size: 24px;
}



#kontakty {
    background: #c6c5b9;
    padding-bottom: 30px;

    text-align: center;
}
    #kontakty h2 {
        padding: 20px 0;
        margin: 0;
        font-size: 30px;
    }

#zbytek {
    background-color: #62929E;
    font-size: 24px;

    font-family: "Fira Sans" , sans serif;
    text-align: center;
    padding: 50px;
}

#obrazky {
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 75%;
    background-position: 25% 80%;


}

.rozdeleni {
    width: 1000px;
    height: 250px;
    margin: 0px auto;
    padding-top: 200px;


    
    display: flex;
    flex-wrap: wrap;
    
}

    .rozdeleni img {
        display: block;
        flex: 1;
        position: relative;
        margin: 0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .rozdeleni img:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }