body {
    margin: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.navigation {
    position: fixed;
    width: 100%;

    font-size: 0;
    
    background: red;
}

    .navigation__item {
        display: inline-block;
        width: 20%;
        padding: 40px 0px;
        margin: 0;

        
        font-size: 30px;
        text-align: center;
        font-family: "Segoe UI", sans-serif;
        text-decoration: none;
    }