body {
    margin: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.navigation {
    position: fixed;
    width: 100%;

    font-size: 0;
    
    background: red;
}

    .navigation__item {
        display: inline-block;
        position: relative;
        width: 20%;
        padding: 28px 0px;
        margin: 0;

        
        font-size: 24px;
        text-align: center;
        font-family: "Segoe UI", sans-serif;
        text-decoration: none;
    }

        .navigation__item:hover {
            background: blue;
        }

    .navigation__context {
        position: absolute;
        display: none; 
        left: 0; 
        top: 100%;
        padding: 0;
        margin: 0;
        width: 100%;

        background: green;
        list-style: none;
    }
        
        .navigation__item:hover .navigation__context {
            display: block;
        }

        .navigation__context__item {
            display: block;
            padding: 10px; 

            text-decoration: none;
            background: tomato;
        }

            .navigation__context__item:hover {
                background: green;
            }